<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">

      <nav class="navbar">
        
        <form class="search-section">
          <input class="input-search" role="search" action="#" name="search" placeholder="search"/>
        </form>
        <section class="icons-section">
          <a class="fa fa-user" href="#">Logged in as {{user.username}}</a>
          
          <a class="fa fa-user" href="/logout">Logout</a>
        </section>
      </nav>

    </div>
</body>
</html>